<h1>Editing Zip</h1>

<%= render 'form', zip: @zip %>

<br>
<div class="ui celled">
<%= link_to 'Show', @zip, class: 'ui button left' %>
<%= link_to 'Back', zips_path, class: 'ui button right' %>
</div>
<br>