// variables

$white: #feffff;
$blue: #98dafc;
$tan: #daad86;
$deep-purple: #312c32;

// icon styles

.icon-elixir {color: #663399;}
.icon-ruby {color: darkred;}
.icon-react {color: blue;}
.icon-angular {color:  red;}
.icon-git {color: #FF4500;}
.icon-reactjs {color: darkblue;}
.icon-ruby-on-rails-alt {color: red;}
.icon-sass {color:purple;}
.icon-mongodb {color: green;}
.icon-javascript {color: #FFD700;}
.icon-wordpress {color:darkgrey;}
.icon-linux-mint {color:lightgreen;}
.icon-ubuntu {color: darkorange;}

// main

p{
  color: $deep-purple;
}
