<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
        </div>
        <div class="three wide column">
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Zips app.</h4>
          <h4 class="ui blue header">JuPlutonic © <%=current_time.strftime('%Y')%>.</h4>
        </div>
      </div>
    </div>
  </div>
</div>