<div class="ui secondary menu">
<a class="item">
	Home
</a>
<a class="item">
	Cities
</a>
<a class="item">
	States
</a>
  <!--
	<div class="right menu">
		<div class="item">
			<div class="ui icon input">
		    	<input placeholder="Search…" type="text">
		    	<i class="search link icon"></i>
		    </div>
		</div>
	</div>
  -->
</div>